---
layout: layout
---

<div class="row blog-header">
  <div class="span12">
    <a href="/" class="header-name">Cody Veal</a>
  </div>
</div>
<hr>
<div class="row">
  <div class="span9">
    <div class="content">{{content}}</div>
  </div>
  <div class="sidebar span3">
    <div class="sidebar-group">
      <div class="sidebar-header">
        About Me
      </div>
      <div class="sidebar-content">
        I'm a full-stack developer that loves to write software for the web.
        My other passions include biology, mathematics, and
        constructing human speakable languages.

        I'm currently studying computer science at the University of Waterloo.
      </div>
    </div>
    <div class="sidebar-group">
      <div class="sidebar-header">
        Recent Posts
      </div>
      <div class="sidebar-content">
        {% for post in site.posts limit:3 %}
        <div class="sidebar-recent-post">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </div>
        {% endfor %}
      </div>
    </div>

  </div>
</div>
